.content h2 {
	margin-left: -16px;
}


#scroller{
    max-height: 500px;
    overflow-y:scroll; 
}

.callout {
	padding: 15px;
	border: 1px solid #eee;
	border-left-width: 5px;
	border-radius: 5px;
	cursor: pointer;
}
.desno {
    padding: 20px;
}

input,
textarea,
pre{
    max-width: 500px;
}

.picker-label{
  text-align: right;
}

.error{
  color: red;
}

table {
  font-size: medium;
}

table td:nth-child(1)
{
  text-align: right;
}
td {
   padding-top: 15px;
   padding-right: 20px;
   white-space: pre;
}

.selected{
  background-color: lightblue;
}