<!DOCTYPE HTML>
<html ng-app="salon">
<head>
     <meta charset="UTF-8">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="app.css">
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/vendor/angular.js"></script>
    <script type="text/javascript" src="js/vendor/angular-route.js"></script>
    <script type="text/javascript" src="js/modelservice.js"></script>
    <script type="text/javascript" src="js/datepicker-directive/datepicker.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <title>Hairdresser's backoffice</title>
</head>
    <body ng-controller="MainCtrl as main" class="container-fluid">
        <div class="row">
            <div class="col-sm-3"> <!--  levo  -->
                <a href="#/"><h3>My Clients</h3></a>
                <a class="btn btn-primary" ng-click="main.addClient()">
                    <span class="glyphicon glyphicon-plus" ></span>
                </a>              

                <div id="scroller">
                    <client class="callout"
                           ng-repeat="client in main.clients"
                           ng-click="main.showClient(client.id)">
                    </client>
                    <br/>
                </div>
            </div>
            <div class="col-sm-9 content desno" ><div ng-view></div><!--  desno  -->

            </div>
        </div>
    </body>
</html>